<!DOCTYPE html>
<html lang="en">
    <head> 
        <title>  Contact GO_RESTAURANT Team       </title>
  <link rel="stylesheet" href="/stylecontact.css"/>
   </head>
    <body>
         

         <h1> Welcome To contact GoRestaurant Software Team  <br>


         </h1>
    <div class="contact">
        <h2> Phone: 405(000-000) <br>  </h2>
        <h3> Email: goRestaurantSoftWare@gmail.com <br>  </h3>

        </div>
       




    </body>



</html>