<!DOCTYPE html>
<html lang="en">
    <head> 
        <title>  Create for your Reservation      </title>
        <link rel="stylesheet" href="styleCreateReservation.css">
    </head>
  
    <body> 
   <p1>
     
    
  
   </p1>
    <script src="./javascripts/jquery-3.6.0.min.js" >  </script>
    <div class="th1">
    <script src="./javascripts/script3.js">   </script>
    </div>
    
   


</body>




 </html>