<!DOCTYPE html>
<html lang="en">
    <head> 
        <title> Feed Back       </title>
  <link rel="stylesheet" href="/stylefeedback.css"/>
   </head>
    <body>
         <div class="contact-title"> 

         <h1> Thank you your feed back is very important for us  <br>
            We will reply your message as soon as possible within 24 hours.


         </h1>
        </div>




    </body>



</html>