<!DOCTYPE html>
<html lang="en">
<head>
  <title>  GoRestaurant Apps   </title>
  <link rel="stylesheet" href="styleOrder.css">


</head>
  
  <body> 


  
  <h1>  <div class="h2">ORDER APP</div> <br> 

  </h1>
  <h2>
  <div class="th3"> 
  <button id="get-button1"> <div class="button4">  MENU</div> </button> 
  <button id="get-button2"> <div class="button5">  SIZE</div> </button>
  <button id="get-button3"> <div class="button4">  FAVORITES</div> </button>
  <button id="get-button4"> <div class="button4">  FEATURED</div> </button>

     
   </div>
   
       
     
  </form>
  </div>

 

  <hr1>
  <div class="button4">
    <table1>
        <thead> 
            <tr>            
              


            </tr>

        
      </thead>

<tbody1>   </tbody1>

    </table1>
  </div>

  <script src="./javascripts/jquery-3.6.0.min.js" >  </script>

  <script src="./javascripts/orderScript.js">   </script>
 

  
</hr1>

  <hr2>

  <div class="button5">
    <table2>
        <thead> 
            <tr>            
              

            </tr>

        
      </thead>

<tbody2>   </tbody2>

</table2>
</div>
 

</hr2>


<hr3>

  <div class="button4">
    <table3>
        <thead> 
            <tr>            
              

            </tr>

        
      </thead>

<tbody3>   </tbody3>

</table3>
</div>
<div class="button4">
  <table4>
      <thead> 
          <tr>            
            

          </tr>

      
    </thead>

<tbody4>   </tbody4>

</table4>
</div>

<button id="get-button8"> Old_Order </div> </button>

<div class="th9">
<form id="create-form">
   <label >Id</div></label>
      <input type="text" id="idcreate-input">
  <label > Customer</label>
   <input type="text" id="namecreate-input">
  <label > Food</label>
   <input type="text" id="foodcreate-input">
   <label > Quantity </label>
   <input type="text" id="quantitycreate-input">
   <label >Size </label> 
   <input type="text" id="size-input">
   <label > Add </label> 
   <input type="text" id="Add-input">
    
   <button>  Submit</div> </button> 
   
</form>
</div>

</hr3>



<hr> Order Information</hr><br> 
  
    <table5>
        <thead> 
            <tr>            
              
            </tr>

        
      </thead>

<tbody5>   </tbody5>

</table5>




</body>


</html>