
* {
  margin: 0;
  padding: 0;
}


.main {
  width: 1200px;
  max-width: 95%;
  text-align: left;
  background-color:yellowgreen;
  padding: 40px 20px;
  border-radius: 10px;
}

.main > h1 {
  font-size: 32px;
  color: rgb(25, 25, 26);
  margin: 0 0 30px 0;
}

.main > form > input {
  width: 95%;
  padding: 15px;
  background-color: rgb(204, 204, 204);
  color: gray;
  border: 0;
  margin: 10px 5px;
  border-radius: 8px;
}

.main > form > button {
  background-color: orange;
  padding: 25px;
  width: 90%;
  border: none;
  color: white;
  cursor: pointer;
}


body {
 background-image: linear-gradient(rgba(0, 0, 2, 0.664),rgba(0, 1, 0, 0.527)),url("./images/back_ground.jpeg");
 
 place-items: center;
 width: 150vw;
 height: 150vh;
 font-family:  Times New Roman, Times, serif;
}

