*{
    margin: 20;
    padding: 10px;
    text-align: left;
    background:linear-gradient(rgba(0, 2, 0, 0.664),rgba(1, 0, 1, 0.527)),url("./images/image2_Contact.jpg");
}
.contact{
 color: yellow;
 font-size: 40;

}